body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  header nav {
    background-color: #333333;
  }
  
  nav .navbar-light .yellow {
    color: #ffd700;
  }
  
  nav.navbar-light li a {
    color: #333333;
  }
  
  .navbar-nav > li > .dropdown-menu {
    background-color: #333333;
    color: #ffffff;
  }
  
  .navbar-nav > li > .dropdown-menu a {
    color: #ffffff;
  }
  
  .navbar-nav > li > .dropdown-menu a:hover {
    background-color: #ffd700;
    color: #000000;
  }
  
  nav .navbar-nav li a:hover {
    background-color: #ffd700;
  }
  
  #collapsable-nav .navbar-nav li a.show {
    background-color: #ffd700;
    color: #000000;
  }
  
  #collapsable-nav .nav-link:hover {
    color: #000000;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #ffd700;
  }
  
  .custom-toggler.navbar-toggler:focus {
    box-shadow: none;
  }
  
  #collapsable-nav .active {
    background-color: #ffd700;
    color: #000000;
  }
  
  .accent-color {
    color: #ffd700;
  }
  
  
  @media (min-width: 992px) {

    .bi-pen.custom-pen,
    .bi-emoji-smile.custom-emoji-smile,
    .bi-chat-square-text.custom-chat-square {
      font-size: 60px;
      color: #ffd700;
    }
  }
  
  @media (max-width: 991px) {

    .bi-pen.custom-pen,
    .bi-emoji-smile.custom-emoji-smile,
    .bi-chat-square-text.custom-chat-square {
      font-size: 6.5vw;
      color: #ffd700;
    }
  }
  
  @media (max-width: 767px) {
    .bi-pen.custom-pen,
    .bi-emoji-smile.custom-emoji-smile,
    .bi-chat-square-text.custom-chat-square {
      font-size: 6.25vw;
      color: #ffd700;
    }
  }
  
  /* START HOME PAGE, MAIN CONTENT */
  
  .custom-jumbotron {
    background-size: cover;
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("../images/jumbotron.jpg") center;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .btn.custom-button {
    background-color: #ffd700;
    color: #333333;
    width: 100%;
  }
  
  /* END HOME PAGE, MAIN CONTENT */
  
  /* START ABOUT US PAGE */
  
  .bi-instagram.custom-instagram,
  .bi-github.custom-github,
  .bi-linkedin.custom-linkedin {
    font-size: 40px;
    color: #ffd700;
  }
  
  .custom-h1 {
    font-size: 50px;
    color: #524500;
  }
  
  /* END ABOUT US PAGE */
  
  
  footer {
    background-color: #333333;
    color: #ffffff;
  }
  
  footer a {
    color: #ffd700;
    text-decoration: none;
  }
  
  footer a:hover {
    background-color: #ffd700;
    color: #000000;
    text-decoration: none;
  }
  
  .about-us:hover {
    background-color: #ffd700;
    color: #000000;
  }